<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head'); %>
  <script type="text/javascript" src="/js/confirmButtonPress.js"></script>

</head>

<body>

  <%- include('./partials/nav'); %>

  <form id="dpForm" action="<% if(Object.keys(activity).length > 0) { %>/activities/edit?id=<%= activity.id %><% } else { %>/activities/create<% } %> " method="POST">
    <label for="date">Datum</label>
    <input type="date" name="date" required value="<%= activity.date %>">
    <label for="name">Name</label>
    <input type="text" name="name" required value="<%= activity.name %>">

    <button class=" border-2 rounded-full py-2 px-4 " type="submit" id="save" onclick="confirmSave()">Speichern</button>
  </form>

  <% if(!detailprogramm && Object.keys(activity).length > 0) { %>
  <div>
    <button>
      <a href="/detailprogramme/edit?activityId=<%= activity.id %>">Neues DP</a>
    </button>
  </div>
  <% } %>

  <% if (Object.keys(activity).length > 0) { %>
  <div>
    <button>
      <a href="/mail/editor?activityId=<%= activity.id %>">Mail Senden</a>
    </button>
  </div>
  <% } %>

  <% if(typeof(mails) != 'undefined') { %>
  <% for(let i = (mails.length-1); i+1 > 0; i--) { %>
  <ul>
    <li>
      <a href="/mail/view?id=<%= mails[i].id %>">
        <span><%= mails[i].sender %></span>
        <span><%= mails[i].subject %></span>
        <span><% const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }; %><%= mails[i].date.toLocaleString("de-CH", options) %></span>
      </a>
    </li>
  </ul>
  <% } %>
  <% } %>

  <% if(typeof(detailprogramm) != 'undefined') { %>
  <ul>
    <li>
      <span><%= detailprogramm.date %></span>
      <span><%= detailprogramm.starttime %></span>
      <span><%= detailprogramm.endtime %></span>
      <span><%= detailprogramm.responsible %></span>
      <button>
        <a href="/detailprogramme/edit?id=<%= detailprogramm.id %>">Bearbeiten</a>
      </button>
    </li>
  </ul>
  <% } %>



</body>
<footer>
  <%- include('./partials/footer'); %>
</footer>

</html>